* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --color-btn-dynamic: white;
    --color-blue: rgba(29, 161, 242, 1);
    --color-hover: rgba(29, 161, 242, 0.08);
    --color-border: #38444d;
    --color-tweet-dynamic: #80919e;
}
.mainContainer {
    background: #15212c;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 28%;
    height: 100%;
    border-right: 1px solid #38444d;
}
.main {
    width: 72%;
    height: 100%;
}

.mainContent {
    width: 600px;
    border-right: 1px solid #38444d;
    
}

.tweet {
    width: 100%;
}

.content {
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 50.8px);
}
